{% extends "base.html" %}

{% block title %}Войти{% endblock %}

{% block content %}
<h1 class="mt-4">Войти</h1>
<form method="post">
    <div class="mb-3">
        <label for="username" class="form-label">Имя пользователя</label>
        <input type="text" id="username" name="username" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Пароль</label>
        <input type="password" id="password" name="password" class="form-control" required>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" id="remember_me" name="remember_me" class="form-check-input">
        <label for="remember_me" class="form-check-label">Запомнить меня</label>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Войти</button>
    </div>
</form>
{% endblock %}